/* The styling sheets header style with a color for background and the text positioning */
header {
    background-color: #3b3b3b;
    text-align: center;
    color: white;
}
/* The styling sheets h3 formatting for the webpage */
h3 {
    font-size: 45px;
    text-align: center;
    color: white;
}
/* The background color for main page body which has a darker grey color and font for the pages body */
body {
    background: #141111;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
/*I dont exactly know why the font family above added so much I tried using Dm sans and it didnt work so I i went to switch the font and hit tab when gill sans came up and this is working */
/* Image stlye for formatitng the two images */
img {
    width: 30%;
    border-radius: 5px;
    display: block;
    margin: auto;
}

/* Resource 2 classes*/

.subheader {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(148, 148, 148);
    margin-bottom: 8px;
}

.button a {
    color: #0051ff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

/* Resource 2 IDS */
/* linkin_park ID*/
#linkin_park {
    background-color: #141111;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border-left: 4px solid grey;
}

/* Albums ID*/
#albums {
    background-color: #3b3b3b;
    padding: 14px;
    margin: 12px 0;
    border-radius: 10px;
    border-left: 4px solid grey;
}

/* Footer ID*/
#footer {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    border-top: 2px solid #3b3b3b;
}
/* Flexbot resource 3 */

#song_album_wrapper {
    display: flex;
    gap: 20px;
}
/* Places the two sections side by side on the Index page*/
#linkin_park, #albums {
    flex: 1;
}
/* Flexbot media changing for different devices */
@media (max-width: 600px) {
    #song_album_wrapper {
        flex-direction: column;
        align-items: center;
    }
    img { width: 65%}
}
